// Couleurs du site
$couleurbody: #708b79
$couleurindex_header: #afbdee
// Fonction
@mixin marg0
  margin: 0
  padding: 0

body
  @include marg0
  background: $couleurbody
a
  text-decoration: none
h1
  text-align: center
// ******************
//  Pages d'accueil
// ******************
#index-header
  width: 50vw
  display: block
  background-color: #708b79
  nav
    width: 600px
    background-color: antiquewhite
    margin: 40% auto
    img
      display: block
      margin: 0 auto
    ul
      display: flex
      padding-bottom: 20px
    li
      list-style: none
      font-weight: bold
      margin-left: 30px
      a
        color: black
.index-container
  display: flex
#index-article
  width: 50%
  nav
    width: 100%
    ul
      @include marg0
      li
        list-style: none
.index-bloc-article
  display: block
  width: 100%
  height: 300px
  h2
    text-align: center
    margin-top: 40px
  .img_art_une
    width: 50%
    float: left
  .article-auteur
    color: green
    margin-top: 50px
  .resume
    text-align: center
.bloc
  float: right

.bloc1
  background-color: blueviolet

.bloc2
  background-color: yellow

.bloc3
  background-color: cadetblue

// ******************
//  header général
// ******************
#container
  header
    display: flex
    nav
      display: flex
      justify-content: space-around
      width: 100%
      background-color: antiquewhite
      margin: 0 auto
      img
        display: block
        margin: 0 auto
      ul
        display: flex
      li
        list-style: none
        font-weight: bold
        margin-left: 30px
        a
          color: black

// ******************
//  Pages d'articles
// ******************
#articles
  width: 1200px
  margin: 0 auto
  background-color: cornflowerblue
// ********************
//  Pages de connexion
// ********************
form
  width: 450px
  background-color: #ececec
  padding: 30px 40px
  margin: 0 auto
  border: 1px solid black
  p
    margin-bottom: 40px
  label
    display: inline-block
    margin-bottom: 10px

input[type="email"],
input[type="password"],
input[type="text"],
select
  width: 100%
  display: block
  box-sizing: border-box
  padding: 0 10px
  height: 40px
  margin-bottom: 15px
  border: 1px solid #cdcdcd
  outline: none

input[type="submit"]
  width: 100%
  display: block
  box-sizing: border-box
  background-color: #869960
  color: #fff
  padding: 10px 0
  border: 1px solid #798a56
  border-radius: 3px
  outline: none
  margin-bottom: 10px
input[type="submit"]:hover,
input[type="submit"]:focus
  border: 1px solid #535e3b
  background-color: #798a56

