body {
  margin: 0;
  padding: 0;
  background: #474643;
  color: #e0e8fe; }

a {
  text-decoration: none;
  color: #e0e8fe; }

h1 {
  text-align: center; }

h2 {
  color: #e0e8fe; }

p {
  color: #e0e8fe; }

#index-header {
  width: 60%;
  display: block;
  background-color: #474643;
  border-right: 2px solid #9b7400; }
  #index-header nav {
    width: 600px;
    margin: 40% auto;
    margin-bottom: 0; }
    #index-header nav img {
      display: block;
      margin: 0 auto;
      margin-bottom: 70px; }
    #index-header nav ul {
      display: flex;
      justify-content: center;
      padding-bottom: 20px; }
    #index-header nav li {
      list-style: none;
      font-weight: bold;
      margin-left: 10px;
      color: #b2b1bc; }
    #index-header nav a {
      color: #b2b1bc; }

.index-container {
  display: flex; }

#index-article {
  max-width: 50%; }
  #index-article nav {
    width: 100%; }
    #index-article nav ul {
      margin: 0;
      padding: 0; }
      #index-article nav ul li {
        list-style: none; }

.index-bloc-article {
  display: flex;
  width: 100%;
  height: 300px; }

.bloc {
  float: right; }

.bloc1 {
  background-color: #322648; }

.bloc2 {
  background-color: #334263; }

.bloc3 {
  background-color: #745739; }

.index-texte {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px; }
  .index-texte h2 {
    text-align: center;
    margin-top: 40px; }
  .index-texte .article-auteur {
    color: #dad9da;
    margin-top: 70px; }
  .index-texte .resume {
    text-align: center; }

#container header {
  display: flex; }
  #container header nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #565552;
    margin: 0 auto; }
    #container header nav img {
      display: block;
      margin: 0 auto; }
    #container header nav ul {
      display: flex; }
    #container header nav li {
      list-style: none;
      font-weight: bold;
      margin-left: 30px; }

#articles {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #565552; }
  #articles h1 {
    color: #e0e8fe; }
  #articles nav {
    margin-top: 80px; }
    #articles nav img {
      border: 2px solid #9b7400; }
    #articles nav h2 {
      text-align: center;
      margin-bottom: 20px; }
    #articles nav .postdata {
      background-color: #474643;
      padding: 5px;
      font-size: 0.8em; }
  #articles .articles-bloc-articles {
    display: flex;
    height: 300px;
    margin-bottom: 40px; }

.art-bloc {
  padding-left: 40px;
  width: 60%; }

.btn {
  padding: 7px;
  border-radius: 5px;
  background-color: #9b7400; }

.more {
  float: right;
  color: #ceac55;
  font-style: italic;
  margin-top: 20px; }

.single {
  min-height: 775px;
  margin: 20px 60px; }
  .single img {
    display: block;
    width: 500px;
    margin: 50px auto;
    border: 3px solid #9b7400; }

.single_texte {
  display: inline-block;
  margin-top: 50px; }

.postdata_single {
  display: inline-block;
  padding: 15px;
  background-color: #6a676a; }

#articles .login {
  min-height: 770px; }
  #articles .login h1 {
    margin-bottom: 50px; }
  #articles .login p {
    text-align: center;
    margin-bottom: 60px; }

form {
  width: 450px;
  background-color: #474643;
  padding: 30px 40px;
  margin: 0 auto;
  border: 1px solid black; }
  form p {
    margin-bottom: 40px; }
  form label {
    display: inline-block;
    margin-bottom: 10px; }

input[type="email"],
input[type="password"],
input[type="text"],
select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #cdcdcd;
  outline: none; }

input[type="submit"] {
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #9b7400;
  color: #fff;
  padding: 10px 0;
  border: 1px solid #798a56;
  border-radius: 3px;
  outline: none;
  margin: 40px 0; }

input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #535e3b;
  background-color: #798a56; }

#administration {
  display: flex;
  width: 95%;
  margin: 0 auto;
  min-height: 850px; }

.navbar {
  margin: auto 0;
  padding-right: 70px; }
  .navbar li {
    list-style: none;
    font-weight: bold; }
  .navbar a {
    display: block;
    width: 150px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #9b7400; }

#admin_articles {
  min-height: 720px;
  margin: 30px auto; }
  #admin_articles h1 {
    text-align: center;
    margin-bottom: 50px; }
  #admin_articles table {
    margin-top: 50px;
    border: 1px solid #9b7400; }
    #admin_articles table thead {
      background-color: #9b7400; }
    #admin_articles table th {
      padding: 0 20px;
      height: 50px; }
    #admin_articles table td {
      border-bottom: 1px solid #9b7400;
      border-right: 1px solid #9b7400;
      font-size: 0.9em; }

.col-pm {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  text-align: center; }

.col-pm-date {
  max-width: 50px;
  padding: 0;
  margin: 0 auto;
  text-align: center; }

.col-mm {
  min-width: 150px;
  padding: 0 15px; }

.col-gm {
  min-width: 200px;
  padding: 0 15px; }

.admin_add {
  min-width: 800px; }
  .admin_add h2 {
    text-align: center; }
  .admin_add form {
    width: 100%; }
    .admin_add form .cate_form {
      width: 100%; }

.clearboth {
  clear: both;
  display: block; }

.float-left {
  float: left;
  width: 45%; }

.dis-right {
  float: right;
  width: 45%; }

#footer {
  height: 75px;
  padding: 30px;
  background-color: #6a676a;
  text-align: center; }

.invalid-feedback {
  color: red; }

.is-invalid {
  color: #798a56; }

.alert {
  color: #9b7400; }

.alert-success {
  color: #798a56; }

#msg-flash {
  color: #334263; }

/*# sourceMappingURL=style.css.map */
